*{
	box-sizing: border-box;
}

body{
	position: absolute;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	overflow:hidden;
	padding:0;
	margin:0;

	font-family: sans-serif;
}


div.bar{
	position: relative;
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

div.bar:nth-child(1){
	padding: 2.5vw 1vw;
}

div.bar:nth-child(2){
	padding: 0 2.5vw;
	height: calc(100vh - 60vw);
}

div.bar:nth-child(3){
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 25vw;
}

div.conversation{
	background: #CFD8DC;
	border-radius: 10px;
	height:100%;
	width:100%;
	position: relative;
	overflow-y: scroll;
}

div.option{
	width: 30vw;
	height: 30vw;
	color:white;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	border-radius: 10px;
}

div.spacer{
	height:30vw;
}

.text{
	font-size: 6vw;
    font-weight: 300;
    color:#03A9F4;
}

.nav_button{
	width: 12vw;
	height: 12vw;
	border:0;
	border-radius: 50%;
	background:black;
}

.nav_button:focus{
	outline:none;
}

div.option>span{
	margin-top:6px;
	margin-bottom:-24px;
}

div.option:nth-child(1){
	background:#FFC107;
}
div.option:nth-child(2){
	background:#4CAF50;
}
div.option:nth-child(3){
	background:#E91E63;
}

button#talk_btn{
	height: 20vw;
    width: 20vw;
    border-radius: 10vw;
    background: #4FC3F7;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
	
	transition: width 1s, background 1s;
}

button#talk_btn.active{
	background:#1D1D1D;
	width: 60vw;
}

.interactive_btn{
	transform: scale(1);
	box-shadow: 0 5px 25px -5px dimgray;
	transition: all .4s;
}

.interactive_btn:hover{
	will-change: transform;
}

.interactive_btn:active{
	transform: scale(0.8);
	box-shadow: 0 1px 20px -3px dimgray;
}

.interactive_btn:focus{
	outline: none
}

.msg{
    margin:15px;
}

.msg.received {
    text-align:right;
}

.received .bubble{
	background:#607D8B;
}

.sent .bubble{
	background: #03A9F4;
}

.msg.sent{
    text-align:left;
}

.bubble{
	width:auto;
	display:inline-block;
	max-width: 80%;

    border-radius: 10px;
    padding: 5px 12px;
    padding-top:8px;
    color:white;
}

.bubble span:nth-child(1){
	display:block;
	font-size:large;
	word-break:break-word;
	overflow-wrap: break-word;
	margin-bottom: 5px;
}

.bubble span:nth-child(2){
	opacity: 0.5;
	font-size:small;
}

.ignore{
	pointer-events: none;
}