.update body{
	position: absolute;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(25deg, rgba(231,77,255,1) 0%, rgba(61,210,255,1) 100%);
	color:#2D2D2D;
	font-family: sans-serif;
}

.update h1{
	font-size: 60px;
}

.update img{
	width:40vw;
	height:40vw;
	border-radius: 20px;
}